* 
  box-sizing: border-box
html, body
  min-height: 100vh
  margin: 0

div,html,body,nav,header,hgroup,footer,section,article,main
  position: relative
  display: flex
  flex-direction: column
  flex-shrink: 0
a
  color: inherit
  &:hover
    color: #cc0000
body
  align-items: center

  header, footer
    align-items: center
    background-color: #fafbfc
  main
    flex: 1   
  .container
    flex: 1
    width: 1000px
  article
    flex: 1
    padding: 20px 30px 0
    background-color: #c4ecff
  h1
    font-size: 32px
    margin-bottom: 20px
  h2
    font-size: 26px
    margin-bottom: 20px

nav
  flex-direction: row

  li
    padding: 10px 20px
    color: #ffffff
    background-color: #cc0000
    border: 1px solid #000000
    border-right-width: 0

    &:last-child
      border-right-width: 1px
    a
      color: #ffffff
      &:hover
        color: #ffffff
  &.pagination
    margin-bottom: 10px

    span
      margin-right: 5px

header
  .container
    .header-top
      align-items: flex-end
      padding: 10px 10px


footer
  .copyright
    padding: 10px 20px

.posts
  padding: 10px
  background: #cccccc

  .post
    margin-bottom: 5px

.model-manage
  flex-direction: row
  margin-bottom: 10px

  &-item
    margin: 0 10px

    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0

.authenticate-block
  display: flex
  flex-direction: column