.posts-list

  .post
    box-sizing: border-box
    padding: 10px 20px
    border-bottom: 1px solid #000000

    .post-title
      font-size: 24px
      margin-bottom: 20px

    .post-body
      margin-bottom: 20px

    .post-info
      flex-direction: row
      justify-content: space-between

      .post-user
        flex-direction: row

    .post-manage
      flex-direction: row
